.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  max-width: var(--size-max-width);
  padding-bottom: var(--size-gutter);
  padding-left: var(--size-gutter);
  position: relative;
  top: -1em;
}

.article {
  display: grid;
  font-size: var(--text-prose);
  gap: var(--space-xl);
  letter-spacing: var(--text-prose-tracking);
  line-height: var(--loose);
  padding: var(--size-gutter) var(--size-gutter) calc(var(--size-gutter) * 2);
}

.hero {
  margin: 0 auto 4rem auto;
  position: relative;
  width: 50%;
  cursor: zoom-in;
}

.images {
  display: flex;
  gap: 4rem;
  padding: 4rem 2rem;
}

.singleColumn {
  max-width: 50%;
  margin: 0 auto;
  transform: translateX(-10rem);
}

.column {
  flex: 1;
}

.column:last-of-type {
  margin-top: 5rem;
}

.image {
  cursor: zoom-in;
  margin-bottom: 6rem;
}

.article h2:first-of-type {
  margin-top: 0;
}

.navigation a {
  border-bottom: 1.5px solid currentColor;
  font-weight: var(--medium);
}

.navigation a:hover {
  border-bottom-color: transparent;
  color: var(--primary);
}

.navigation {
  margin: 2rem;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
