:root {
  --font-size: 1.2rem;
  --page-gutter: 2.5rem;
  --font-small: 1rem;
  --font-heading-small: 1.65rem;
  --color-sub: #afafaf;
  --color-label: #bebebe;
  --color-snow: #f5f5f5;
  --color-placeholder: #585858;
  --color-black: #333;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff url('../images/wallpaper.jpeg') no-repeat center / cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
}

.page nav {
  position: absolute;
  top: 2rem;
  left: 5%;
  color: var(--color-sub);
}

.container {
  display: flex;
  align-items: center;
  width: calc(100% - var(--page-gutter) * 2);
  height: calc(100% - var(--page-gutter) * 2);
  background: rgba(36, 36, 36, 0.9);
  backdrop-filter: blur(1px);
}

.deco {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14rem;
  letter-spacing: 20px;
  line-height: 0;
  user-select: none;
  pointer-events: none;
  color: #222;
  opacity: 0.15;
  mix-blend-mode: difference;
}

.par {
  font-size: var(--font-size);
  margin-bottom: 4rem;
  color: var(--color-sub);
}

.form {
  max-width: 600px;
  margin-left: 15%;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.row {
  display: flex;
}

.row .inputWrapper:first-child {
  margin-right: 2.5rem;
}

.inputWrapper {
  margin-bottom: 2rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid var(--color-placeholder);
  border-bottom: 1px solid transparent;
  background: none;
  outline: none;
  font-size: var(--font-size);
  font-family: inherit;
  color: var(--color-snow);
  transition: all 200ms;
}

.input:focus,
.textarea:focus {
  border-color: var(--color-snow);
}

.textarea::-webkit-scrollbar {
  display: none;
}

.label span {
  font-size: 0.85rem;
}

.input::placeholder,
.textarea::placeholder {
  letter-spacing: 1px;
  color: var(--color-placeholder);
}

.label {
  display: block;
  user-select: none;
  font-size: var(--font-small);
  margin-bottom: 0.5rem;
  color: var(--color-label);
}

.submit {
  color: var(--color-sub);
  border: 1px solid var(--color-sub);
  padding: 0.5rem 1.8rem;
  transition: all 200ms;
}

.submit:focus,
.submit:hover {
  color: var(--color-snow);
  border: 1px solid var(--color-snow);
}

/* Banner */

.banner {
  position: absolute;
  top: 0;
  right: 10%;
  color: var(--color-black);
}

.bannerInner {
  padding: 6rem 8rem 2.5rem 2.5rem;
  background: var(--color-snow);
}

.banner section:first-child {
  margin-bottom: 3rem;
}

.banner h2 {
  font-size: var(--font-heading-small);
  color: inherit;
}

.banner p {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-sub);
}

.banner address a {
  display: block;
  margin-top: 0.65rem;
}

.social {
  padding: 1rem 2.5rem;
}

.socialLink {
  display: inline-block;
  width: 20px;
  margin-right: 0.7rem;
}

.socialLink a {
  width: 100%;
}
