.burger {
  width: 26px;
  padding: 0;
  display: none;
  border: none;
  cursor: pointer;
  mix-blend-mode: difference;
}

.dash {
  width: 100%;
  background: #fff;
  height: 2px;
  margin-bottom: 0.4rem;
  border-radius: 0;
  transition: all 200ms ease;
}

.dash:last-child {
  margin: 0;
}

.burger:hover .dash:first-child {
  width: 15px;
}

.burger:hover .dash:nth-child(2) {
  width: 8px;
}

.burger:hover .dash:last-child {
  width: 23px;
}

@media only screen and (max-width: 1000px) {
  .burger {
    display: block;
  }
}
