.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin-top: var(--space-2xl);
  text-align: right;
  padding: 2rem 1rem;
  font-size: 0.9rem;
}

.footer p {
  margin: 0;
}

@media (max-width: 550px) {
  .footer {
    flex-flow: column wrap;
    padding: 1rem;
  }

  .footer p:last-child {
    font-size: 0.75rem;
  }
}
