.bodyHeader {
  max-width: var(--content-width);
  margin: 0 auto;
}

.brandLink {
  display: block;
  position: relative;
  margin: 0;
}

.brandLink:before,
.brandLink:after {
  content: '';
  position: absolute;
  left: 0;
  width: 25%;
  height: 1px;
  background: #222;
  transition: left 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    width 300ms 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.brandLink:before {
  top: -0.5rem;
}

.brandLink:after {
  bottom: -0.5rem;
  transition: left 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    width 300ms 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.brandLink:hover:before {
  left: 25%;
  width: 50%;
}

.brandLink:hover:after {
  left: 25%;
  width: 50%;
}

.bodyHeader h1 {
  margin: 0;
}

.bodyHeader h1 {
  margin-bottom: 0.5rem;
  font-weight: 200;
  font-size: 2rem;
  white-space: nowrap;
}
