.menu {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  padding: 2rem 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(4rem);
  opacity: 0;
  user-select: none;
  transition: all 300ms ease-in-out;
}

.menu.shown {
  transform: translateY(0);
  opacity: 1;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu h1 {
  margin: 0;
  font-size: calc(1rem + 2vw);
}

.menu section {
  flex-grow: 1;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.menu section::-webkit-scrollbar {
  display: none;
}

.menu section hr {
  width: 150px;
  margin-left: 0;
}

.item {
  position: relative;
  width: fit-content;
  transition: all 200ms;
}

.link {
  display: block;
  cursor: pointer;
  padding: 0.3rem 0;
  font-size: calc(1rem + 0.5vw);
}

.link:hover {
  color: inherit;
}

.item:after {
  content: '';
  width: calc(100% + 1rem);
  height: 2px;
  background: #222;
  position: absolute;
  bottom: 0;
  left: calc(-100% - 2rem);
  transition: all 200ms;
}

.item:hover:after {
  left: -1rem;
}

.imageWrapper {
  display: none;
  width: 35vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}

.button {
  background: none;
  border: none;
  font-size: calc(1rem + 2vw);
  cursor: pointer;
}

.menu footer li {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.85rem;
}
