.page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.container {
  text-align: center;
}

.heading {
  font-size: 10vw;
  color: #222;
  margin: 0;
}

.paragraph {
  font-size: calc(1rem + 0.5vw);
  color: rgba(34, 34, 34, 0.663);
}

.homePar {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  color: var(--primary);
}

.link:hover {
  text-decoration: underline;
}
