.sidebar {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
  flex-shrink: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 4rem 2rem 2rem;
  user-select: none;
}

.sidebar h1 {
  margin: 0;
}

.sidebar a {
  color: inherit;
}

.sidebar hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
}

.link {
  position: relative;
  display: block;
  width: fit-content;
  font-size: 0.9rem;
}

.link:hover {
  color: inherit;
}

.link:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  right: -1rem;
  width: 5px;
  height: 5px;
  background: rgb(146, 146, 146);
  border-radius: 50%;
  opacity: 0;
  transition: all 200ms ease;
}

.link:hover:before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.activeLink {
  font-weight: 600;
}

.activeLink:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1rem;
  width: 5px;
  height: 5px;
  background: #222;
  border-radius: 50%;
}

.navigationItem:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
