.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
}

.navigationList {
  padding: 0;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 0 0.5rem;
}

.baseItem:not(:last-of-type) {
  border-left: 2px solid grey;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
