.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  flex-shrink: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 4rem 2rem 2rem;
}

.sidebar h1 {
  margin: 0;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
}

.navigationItem {
  font-size: 0.9rem;
}

.link {
  position: relative;
  display: block;
  width: fit-content;
}

.link:hover {
  color: inherit;
}

.link:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  right: -1rem;
  width: 5px;
  height: 5px;
  background: rgb(146, 146, 146);
  border-radius: 50%;
  opacity: 0;
  transition: all 200ms ease;
}

.link:hover:before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.activeLink {
  font-weight: 600;
}

.activeLink:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1rem;
  width: 5px;
  height: 5px;
  background: #222;
  border-radius: 50%;
}

.navigationItem:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.sidebarFooter {
  color: rgb(110, 110, 110);
  white-space: nowrap;
}

.sidebarFooter li {
  display: inline-block;
  font-size: 0.85rem;
}

.sidebarFooter li:not(:last-of-type) {
  margin-right: 0.5rem;
}
